section {
  padding: 50px;
}

header {
  position: relative;
}

header img {
  width: 100%;
  height: auto;
}

header h1 {
  position: relative;
  font-family: "Barrio", cursive;
  color: white;
  font-size: 5em;
  text-shadow: -3px -5px black;
  padding-top: 25px;
  text-align: center;
  top: 0;
}

h2 {
  font-family: 'Shadows into Light', cursive;
  text-align: center;
  top: 0;
}

button.addNew {
  padding: 15px 40px;
  border: solid 1px black;
}

li {
  list-style: none;
  font-size: 1.2em;
  border: solid 1px black;
  padding: 10px;
}

button.star {
  background-image: url('starblack.png') no-repeat;
}
